<h1>Create Student</h1>
<form class="col-sm-12" [formGroup]="createProductForm" (ngSubmit)="createProduct()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Product name" autofocus>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Quantity</label>
    <input type="number" class="form-control" formControlName="quantity" placeholder="Quantity" >
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price" placeholder="Price">
  </div>
  <div class="form-group" formGroupName="category" >
    <label>Category</label>
    <select class="form-control" formControlName="id">
      <!-- <option [ngValue]="null" disabled selected>Choose your product</option> -->
      <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <button style="margin: 5px;" type="submit" class="btn btn-success btn-sm" [disabled]="createProductForm.invalid">Submit</button>
    <button type="button" class="btn btn-secondary btn-sm" routerLink = "/products">Back</button>
  </div>
</form>
